.btn-block {
		font-size: 18px;
}

.forget {
	margin: 0 0 10px 130px;
	font-size: 14px;
	display: inline-block;
}

.register {
	margin-top: 5px;
	font-size: 13px;
	display: block;
}

.login-or {
	position: relative;
	font-size: 18px;
	color: #888a85;
	margin-top: 25px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -100px;
	background-color: #fff;
	width: 200px;
	text-align: center;
}

.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 4px !important;
	margin-bottom: 0px !important;
}

.circle-text {
	font-size: 13px;
}

.circle-icon {
	border-radius: 25px;
    border: 2px solid #cdcdcd;
    padding: 15px;
    width: 200px;
    height: 15px; 
}

.social-login-btn {
	margin: 15px 5px 10px 0px;
	width: 15%;
	font-size: 200%;
	padding: 0;
}

.social-google {
	background-color: #da573b;
	border-color: #be5238;
}

.social-google:hover {
	background-color: #be5238;
	border-color: #9b4631;
}

.social-twitter {
	background-color: #1daee3;
	border-color: #3997ba;
}

.social-twitter:hover {
	background-color: #3997ba;
	border-color: #347b95;
}

.social-facebook {
	background-color: #4c699e;
	border-color: #47618d;
}

.social-facebook:hover {
	background-color: #47618d;
	border-color: #3c5173;
}

.social-vk {
	background-color:#587ea3;
	border-color:rgba(0,0,0,0.2);
}

.social-vk:hover {
	background-color:#4a6a89;
	border-color:rgba(0,0,0,0.2);
}